.sidebar{
    width: 100%;
    height: calc(100vh - 45px);
    background-color: rgb(101, 101, 101);
    
    overflow: auto;
}
.wrapper{
    width: 23%;
    position: absolute;
    z-index: 10;

  
}